nav {
    background-image: url(../Images/Background\ Image.png);
}

.navbar-nav {

}

.h1-heading {
    font-size: 80px;
    padding: 10px;
} 

.h2-heading {
    font-size: 20px;
    padding-bottom: 20px;
}

.heroSection {
    background-image: url(../Images/Background\ Image.png);
    text-align: center;
    height: 250px;
}



.jumbotron {
    background-color: #F0FBF5;
    margin: auto;
    margin-top: 80px;
    width: 75%;
    height: 350px;
}

.jumbotronContent {
    float: left;
    width: 50%;
}


.startButton {
    background-color: #FFDC7A;
    font-size: 20px;
    width: 200px;
    height: 60px;
    margin-left: 350px;
    margin-top: 20px;
    border: none;
}

.jumbotronImg {
    float: right;
    width: 30%
    margin-right: 10%
}
img[src="Images/Image 1.png"] {
    height: 225px;
    width: auto
}