nav {
    background-image: url(../Images/Background\ Image.png)
}

/* This is an attempt at giving the site a different font. 
body {
    font-family: 'Hammersmith One', sans-serif !important;
}
*/

.heroSection {
    background-image: url(../Images/Background\ Image.png);
    text-align: center;
    height: 250px;
}



.form-control2.mr-sm-2 {
    display: inline-block;
    width: 35%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: relative; bottom: -50px;
}

.btn.btn-outline-success.disabled {
    color: black;
    background-color: #FDF2D3;
    border-color: #FDF2D3;
}

.btn.btn-outline-success {
    color: black;
    background-color: #FFDC7A;
    border-color: #FFDC7A;
}

.btn.btn-lg.btn-primary {
    background-color: #FFDC7A;
    color: black;
    border-color: #FFDC7A;
}

.h1-heading {
    position: relative; bottom: -30px;
    font-size: 60px;
}

.h2-heading {
    position: relative; bottom: -30px;
    font-size: 25px;  
}

.jumbotron {
    margin: auto;
    margin-top: 80px;
    width: 75%;
    height: 350px;
    background-color: #A8E7D1 !important;
}

.jumboP {
    width: 450px;
    word-wrap: break-word;
    position: relative; bottom: -20px;
}

.btn.btn-lg.btn-primary {
    position: relative; bottom: -20px
}

.jumboPic {
    height: 225px;
    width: auto;
    float: right;
    flex-wrap: wrap;
    position: relative; top: -225px;
}

/*This .space is for nav buttons. It helps spread them apart a little.*/
.space {
    width: 10px;
    height: auto;
    display: inline-block;
  }

  .pt-5.pb-5 {
    margin: auto;
    width: 75%;
    margin-top: 80px;
    margin-bottom: 80px;

  }
  
  .container {
    display: inline-block;
  }

  .img-fluid {
    max-width: fit-content;
  }

  footer{
    background-image: url(../Images/Background\ Image.png);
     padding:70px 0px;
}
footer ul li{
    padding:5px 0px;
}
.footer-logo {
    padding-top: 20%;
}
.footer-logo span {
    font-family: sans-serif;
    color: black;
    font-weight: 800;
    font-size: 38px;
}
.column-1-content span , .column-2-content span{
   color: black;
   font-family: sans-serif;
   font-weight: 800;
   padding-bottom: 10px;
   margin-top: 30px;
   display: block;
   font-size: 18px;
   letter-spacing: 3px;
}
.column-1-content li a , .column-2-content li a{
    color: black;
    font-family: serif;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:15px;
}
.footer-logo , .column-1-content , .column-2-content {
    list-style: none;
}
.social li{
    float:left;
}
.fa{
    color:black;
    margin-right: 15px;
    font-size:14px;
}
.footer-logo img {
    margin-top: 100%;
    width: 250px;
    height: auto;
    float: left;
}